<div class="form_height" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxFlex="45" fxFlex.xs="100">
    <div fxLayout="column" fxLayoutGap="11px" fxLayoutAlign="center center">
      <div class="font_iFlix" fxLayoutAlign="center center">iFlix</div>
      <div class="font_of_Signin" fxLayoutAlign="center center">Sign in</div>
      <div class="fontofwithyourfundooaccount" fxLayoutAlign="center center">with your iFlix account</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password"
          required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="center center">
      <button mat-button mat-raised-button color="primary" (click)="onLogin()">Login</button>
      <a mat-flat-button class="anchor" routerLink="/register">Create account</a>
      <a mat-flat-button class="anchor" routerLink="/forgotpassword">Forgot Password?</a>
    </div>
  </mat-card>
</div>
